body {
    background-color: #F6DDCC;
    margin: 5%;
}

.parent {
    width: 400px;
    height: 400px;
    background-color: #FCF3CF;
    border: 2px, black;
    border-style: solid;
    display: block;
    position: relative;
    left: 50%;
    margin-left: -400px;
}

.text {
    width: 350px;
    height: 250px;
    color: #67aedd;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -175px;
    top: 50%;
    margin-top: -125px;
}